/* CITY PAGE */
/* #map {
  height: 480px;
} */

/* END CITY PAGE */

/* GUIDE CALL PAGE */
.container {
  margin: 10px;
}

.container-guide-call {
  background-image: url("../../public/images/phonecall.png");
  background-size: cover;
  background-position: center center;
  height: 1000px;
}

.title-call {
  text-align: center;
  padding-top: 150px;
  color: white;
  text-transform: uppercase;
}
.buttons-call {
  display: flex;
  justify-content: space-evenly;
}
.button-call {
  margin-top: 450px;
  border-radius: 50px;
  padding: 20px;
}

.button-call.red {
  background-color: red;
  transition: 0.5s ease-in-out;
}
.button-call.red:hover {
  background-color: rgb(245, 65, 65);
}

.button-call.green {
  background-color: green;
  transition: 0.5s ease-in-out;
}
.button-call.green:hover {
  background-color: rgb(5, 168, 5);
}
.icone-phone {
  font-size: 20px;
  color: white;
}
/* END GUIDE CALL PAGE */

.nb-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
